.jumbotron {

  .jumbotron-inner {
    display: table;
    margin: 0 auto;

    .overview {
      display: table-cell;
      width: 500px;
    }

    .example {
      display: table-cell;
      padding-left: 10px;
    }

  }
}


.try-it-example {
  .html-editor { display: none; }
  .launch-it-wrap { margin-top: 10px; /*text-align: right;*/ }
}

#try-it-modal {
  .run-reload:not(.trying-it)  .reload { display: none; }
  .run-reload.trying-it        .run    { display: none; }
  .modal-dialog { text-align: center; }
  .modal-content { display: inline-block; }
  .preview { width: 600px; }

  .css-editor,
  .html-editor {
    position: relative;
    height: 200px;
  }

  table {
    .column-edit-css,
    .column-edit-html {
      width: 500px;
      vertical-align: top;
    }

    .column-preview {
      vertical-align: top;
      padding-left: 10px;

      .run-reload { margin-bottom: 10px; }
    }
  }
}




/* Hide Line numbers */
.ace_editor .ace_gutter { display: none; }
/* 10px works well for in-page (without margins) and modals */
.ace_editor .ace_scroller { left: 10px !important; }



.container { width: 600px; }

pre { display: inline-block; }






@highlight:    hsl(80, 50%, 90%);
@darkest:      hsl(20, 0%, 15%);
@lightest:     hsl(90, 20%, 90%);

.box-shadow (@x, @y, @blur, @alpha) {
  @value: @x @y @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow:    @value;
  -webkit-box-shadow: @value;
  box-shadow:         @value;
}
.border-radius (@radius) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}
.code () {
  font-family: 'Bitstream Vera Sans Mono',
               'DejaVu Sans Mono',
               'Monaco',
               Courier,
               monospace !important;
}
pre {
  margin: 0;
  text-shadow: 0 -1px 1px @darkest;
  margin-top: 20px;
  background-color: desaturate(@darkest, 8%);
  border: 0;
  width: 520px;
  color: @highlight;
  background-repeat: repeat;
  padding: 15px;
  border: 1px dashed @lightest;
  line-height: 15px;
  .box-shadow(0, 0px, 15px, 0.5);
  .code;
  .border-radius(2px);
  code .attribute, code .keyword { color: hsl(40, 50%, 70%) }
  code .variable  { color: hsl(120, 10%, 50%) }
  code .element   { color: hsl(170, 20%, 50%) }

  code .string, .regexp { color: hsl(75, 50%, 65%) }
  code .class { color: hsl(40, 40%, 60%); font-weight: normal }
  code .id { color: hsl(50, 40%, 60%); font-weight: normal }
  code .comment { color: rgba(255, 255, 255, 0.2) }
  code .number, .color { color: hsl(10, 40%, 50%) }
  code .class, code .mixin, .special { color: hsl(190, 20%, 50%) }
  #time { color: #aaa }
}
